body {
    font: 12pt UTF-8;
    margin: 0;
    min-height: 100px;
    background-color: rgb(177, 177, 215);
}

h1 {
    font-size: 27pt;
    margin: 0;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 14pt;
    font-style: italic;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

h3 {
    font-size: 12pt;
    font-style: italic;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, rgb(152, 150, 239) 0%, rgb(48, 4, 242) 100%);
    padding: 10px;
    padding-left: 20px;
} 

.content {
    margin: 72px 10px 25px 10px;
    display: flex;
    position: static;
}

.menu {
    position: sticky;
    top: 70px;
    border: 1px solid rgb(48, 4, 242);
    padding: 20px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    width: 120px;
    min-width: 120px;
    height: min-content;
    max-height: 200px;
    display: block;
}

.button {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.button:hover {
    color: rgb(30, 0, 255);
}

.list {
    position: static;
    width: 100%;
}

.news {
    border: 1px solid rgb(48, 4, 242);
    padding: 10px 10px 10px 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.date {
    font-style: italic;
}

.image {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
}

.image-block {
    position: static;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 300px;
}

.image-block-big {
    position: static;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 600px;
}

.title-link {
    font-style: italic;
    position: static;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.title-link:hover {
    color: rgb(30, 0, 255);
}

.title {
    font-style: italic;
    position: static;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.link {
    display: block;
    font-size: 14pt;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(22, 2, 93);
}

.link:hover {
    text-decoration: underline ;
    color: rgb(30, 0, 255);
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 15px;
    height: 15px;
    background: rgb(152, 150, 239);
    padding: 5px;
    padding-left: 15px;
}